.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.form-container {
  display: flex;
  height: 70vh;
  border: 0px solid black; 
  max-width: 900px; 
  margin: auto; 
   }

.orange-section {
  width: 47%; 
  background-color: rgba(220, 91, 18, 1); 
  height: 100%;
}

.white-section {
  width: 53%; 
  background-color: white; 
  height: 100%;
}

.or-divider {
  display: flex;
align-items: center;
  width: 300px;
 margin-left: auto;
 margin-right: auto;
font-weight: bold;
margin-top: 30px;
}

.line {
  flex-grow: 1;
  height: 1px; 
  background-color: #222323; 
  width: 95px;
 
  align-items: center;
}


.input-container {
  display: flex;
  flex-direction: column; 
  width: 70%;
 
}

.input-container input {
  margin-bottom: 10px; 
  border-radius: 10px;
  height: 10px;
}

.input-container button {
  margin-top: 10px; 
}

.title {
 margin-top: 100px;
 text-align: center;
margin-bottom: 50px;
color: #fcf9f9;
font-size: 50px;

}

.sign{
  color: rgb(220, 227, 227);
  margin-bottom: 40px;
  font-size: 18px;
  margin-left: 40px;
}

.account{
  color: rgb(66, 67, 67);
  font-size: 18px;
  margin-left: 40px;
  margin-bottom: 40px;
}

.image-container{
 text-align: center;
 margin-right: 25px;
 }

 .image-container img {
  max-width: 50%; 
  height: 100px; 
}

.clıck {
  height: 43px;
  width: 250px;
  border-radius: 50px;
  margin-left: 90px;
  color: #fbf8f8;
  background-color: rgba(220, 91, 18, 1);  
 
}

.tıtles {  
  margin-top: 90px;
  font-size: 40px;
  text-align: center;
}

.icon-container {
  display: flex;
  justify-content: center;
  margin-bottom: 16px; 
}

.icon {
  margin: 0 10px;
  font-size: 2rem; 
}

.email {
  color: #979595;
 font-size: 18px;
  text-align: center;
  margin-top: 10px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.input-container input {
  height: 20px; 
  width:300px;
  padding: 10px; 
  border: 1px solid #ccc; 
  border-radius: 30px; 
  background-color: #efeeec;
  margin-left: 75px;
  margin-bottom: 25px;
}

.button {
  height: 50px;
  width: 330px;
  border: 1px solid #ccc; 
  border-radius: 30px; 
  background-color: rgba(220, 91, 18, 1); 
  margin-left: 72px;
  color: white;
  font-weight: bold;
  font-size: 25px;
}

@media (max-width: 768px) {
  .form-container {
    flex-direction: column; 
  }

  .orange-section, .white-section {
    width: 100%; 
    height: 100%;
    margin-bottom: 20px; 
  }

  .or-divider {
    justify-content: center; 
    width: 80%; 
  }

  .line {
    width: 40px; 
  }

  .input-container {
    width: 90%; 
    margin: auto; 
  }

  .input-container input {
    width: 100%;
  }

  .clıck, .button {
    width: 100%; 
    margin-left: 0; 
  }

  .orange-section {
    background-color: rgba(220, 91, 18, 1); 
    height: 100%;
  }

  

}
